*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    
}

header{
    width: 100%;
    height: 5em;
    border-bottom: 1px solid #ccc;
    position: fixed;
    background-color: #fff;
    overflow-y: hidden;
}

.logomarca{
    width: 5em;
    position: absolute;
    background-color: #000;



}

.banner-video{
    width: 85%;
    margin: 5em 7.5% 0;

    


}